# ##############################################################################
#
# Licensed to the Apache Software Foundation (ASF) under one or more contributor
# license agreements.  See the NOTICE file distributed with this work for
# additional information regarding copyright ownership.  The ASF licenses this
# file to you under the Apache License, Version 2.0 (the "License").you may not
# use this file except in compliance with the License.  You may obtain a copy of
# the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
# License for the specific language governing permissions and limitations under
# the License.
#
# ##############################################################################
CONFIG_ARCH="arm"
CONFIG_ARCH_ARM=y
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CUSTOM_DIR="../../../guests/nuttx/boards/e3650"
CONFIG_ARCH_BOARD_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="e3650_dev_kit"
CONFIG_ARCH_CHIP_ARM_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM_DIR="../../../guests/nuttx/chips/e3650"
CONFIG_ARCH_CHIP_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_CHIP_CUSTOM_NAME=""
CONFIG_ARCH_CHIP_E3650=y
CONFIG_ARCH_CHIP_E3650_GICD_BASE=0xF4000000
CONFIG_ARCH_CHIP_E3650_GICR_BASE=0xF4100000
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=24000000
CONFIG_ARCH_HAVE_DEBUG=y
CONFIG_ARCH_FPU=n
CONFIG_ARCH_INTERRUPTSTACK=4096
CONFIG_IDLETHREAD_STACKSIZE=4096
CONFIG_ARCH_SETJMP_H=y
# CONFIG_ARM_THUMB is not set
CONFIG_ARCH_STACKDUMP=y
CONFIG_BOARD_LOOPSPERMSEC=99369
CONFIG_BUILTIN=y
CONFIG_BOOT_RUNFROMISRAM=y
CONFIG_SMP=y
CONFIG_SMP_NCPUS=2
CONFIG_DEBUG_ASSERTIONS=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEBUG_FULLOPT=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_DEV_ZERO=y
CONFIG_EXAMPLES_HELLO=y
CONFIG_EXPERIMENTAL=y
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_LIBC_MEMFD_ERROR=y
CONFIG_NDEBUG=y
CONFIG_BOARDCTL=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_READLINE=y
CONFIG_NSH_SC=y
CONFIG_NSH_BUILTIN_AS_COMMAND=y
CONFIG_NSH_CMDOPT_HEXDUMP=n
CONFIG_PREALLOC_TIMERS=4
CONFIG_RAM_SIZE=1114112
CONFIG_RAM_START=0x00BA0000
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_SCHED_WAITPID=y
CONFIG_SCHED_EVENTS=y
CONFIG_SPINLOCK=y
CONFIG_STACK_COLORATION=y
CONFIG_START_MONTH=3
CONFIG_START_YEAR=2016
CONFIG_SYMTAB_ORDEREDBYNAME=y
CONFIG_SYSLOG_BUFFER=y
CONFIG_SYSLOG_DEVPATH="/dev/ttyS0"
CONFIG_SYSLOG_INTBUFFER=y
CONFIG_SYSLOG_MAX_CHANNELS=2
CONFIG_SYSTEM_NSH=y
CONFIG_UART0_SERIAL_CONSOLE=y
CONFIG_USEC_PER_TICK=1000
CONFIG_RAW_BINARY=y
# CONFIG_BOARD_EARLY_INITIALIZE is not set
# CONFIG_FS_PROCFS is not set
CONFIG_SYSTEM_TRACE=y
CONFIG_LIBC_IPv4_ADDRCONV=y
CONFIG_DEBUG_WARNING_AS_ERROR=y
CONFIG_EXAMPLES_BAO_SHMEM=y
